<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Reservation</title>
    <!-- font awesome linking -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/kbtcafe.css">
    <style>
      .noofitems p{
        color: white;
        margin-top: 0.8rem;
        font-size: 0.9rem;
    }
    </style>
</head>

  
<body>
    <%- include("includes/navbar") %>
    <div>h</div>
    <h1 style="margin-top: 4rem; color: goldenrod; text-align: center;" class="section-title">Edit your Reservation</h1>
    <div class="row">
        <div class="col-8 offset-2">
    <form action="/kbt/<%=reserv._id%>/edit?_method=PATCH" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" value="<%=reserv.name%>" name="reserv[name]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" value="<%=reserv.phone%>" name="reserv[phone]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="person" class="form-label">Person</label>
            <input type="text" value="<%=reserv.person%>" name="reserv[person]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" value="<%=reserv.date.toISOString().split('T')[0]%>" name="reserv[date]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input type="text" value="<%=reserv.time%>" name="reserv[time]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <input type="text" value="<%=reserv.message%>" name="reserv[message]" class="form-control">
        </div>
        <button class="btn btn-dark edit-btn mt-3 mb-3" style="padding:0.5rem 1.2rem;">Edit</button>
        <br>
    </form>
</div>
</div>


<%- include("includes/footer") %>
</body>
</html>